header {
  font-weight: bold;
}

body {

  display: flex;
  justify-content: center;
  background-color: rgb(245, 240, 187);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 150px;
  
}

.img-container {
  margin-top: 100px;
  background-color: rgb(196, 223, 170);
 
  }
  #img-one {
    width: 250px;
    height: 250px;
    margin: auto;
    border-style: groove;
    
    border-radius: 5%;
    border-color: rgb(144, 200, 172);
  }
  #img-two {
    width: 250px;
    height: 250px;
    margin: auto;
    border-style: groove;
    
    border-radius: 5%;
    border-color: rgb(144, 200, 172);
  }
  #img-three {
    width: 250px;
    height: 250px;
    margin: auto;
    border-style: groove;
    
    border-radius: 5%;
    border-color: rgb(144, 200, 172);
    
  }
  
  #resultsContainer { 
    width: 500px;
    background-color: rgb(144, 200, 172);
   }

  #show-results-btn { 
    width: 165px;
    height: 45px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
    
    
    background-color: rgb(115, 169, 173);
    border-radius: 5px;
  
    
  }
  #sectionChart {
    width: 900px;
    height: 500px;
  }
    

